.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pannel {
  width: 20%; */
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #1890ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
